<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/emergency.css">
</head>

<body>
    <div class="container">
        <div class="text">
            <p>In times of crisis, ensuring your electric vehicle (EV) remains powered is paramount. Our Emergency EV
                Charging Station Locator is here to assist you when unexpected situations arise. Whether you're facing a
                power outage, stranded due to depleted battery, or encountering any other emergency, our tool swiftly
                pinpoints the nearest charging stations to get you back on the road safely.</p><br>
            <p>Using advanced geolocation technology, our system identifies your current location and swiftly scans the
                vicinity for available EV charging stations. With just a few clicks or taps, you'll have access to
                crucial information about nearby stations, including their distance, availability, and compatibility
                with your vehicle. This intuitive interface ensures a seamless user experience, even in stressful
                situations.</p>
        </div>
        <div class="login-box">
            <a href="/" id="Home"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
            </svg></a>
            <h2>Report an Emergency<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                    <path
                        d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg></h2>
            <form>
                <div class="user-box">
                    <input type="text" name="Username" required>
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="tel" name="mo. no" required>
                    <label>Mobile number</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Pass" required>
                    <label>E-mail</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Emergency" required>
                    <label>Description of emergency</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Address" required>
                    <label>Your current address</label>
                </div>
                <button type="submit" class="sub">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>