<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feedback.css">
</head>

<body>
    <div class="container">
        <div class="text">
            <h2>We value your feedback!!</h2>
            <p>Thank you for taking the time to share your thoughts with us. Your feedback is incredibly important as it helps us improve our website and services to better meet your needs.</p>
            <p>Whether you have a suggestion for improvement, encountered an issue, or simply want to let us know about your experience, we're here to listen. Your insights help us continually enhance your online experience.</p>
            <p>Please fill out the form below to share your feedback with us. We appreciate your input and look forward to hearing from you!</p>
        </div>
        <div class="login-box"><a href="/"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-house"
            viewBox="0 0 16 16" >
            <path
              d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"
            />
          </svg></a>
            <h2>Feedback</h2>
            <form>
                <div class="user-box">
                    <input type="text" name="Username" required>
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Pass" required>
                    <label>E-mail</label>
                </div>
                <div class="user-box">
                    <input type="text" name="Feedback" required>
                    <label>Your valuable feedback</label>
                </div>
                <button type="submit" class="sub">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>