<!DOCTYPE html>
<html>
  <head>
    <title>CHARGEUP</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>CHARGEUP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header>
      <nav>
        <h1 id="logo">CHARGEUP</h1>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="/finder">CHARGING STATIONS</a></li>
          <li><a href="/feedback">FEEDBACK</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <div class="login-register">
          <h4><%= User %></h4>
          <a href="/signin" class="login-btn">Login</a>
          <a href="/signup" class="register-btn">Register</a>
          <div class="dropdown">
            <button class="dropbtn">Main Menu</button>
            <div class="dropdown-content">
              <a href="#">Home</a>
              <a href="/finder">Charging Station</a>
              <a href="/feedback">Feedback</a>
              <a href="#">Contact</a>
              <a href="#">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="main-1">
        <h1>Connect with Electric Vehicle Charging Stations</h1>
        <p>Find nearby charging stations and book your slot online</p>
        <div class="lm">
          <button onclick="maps()">Explore Charging Stations</button>
          <a href="https://en.wikipedia.org/wiki/Charging_station"><h3>Learn More</h3></a>
        </div>
      </div>
      <!-- <img  class="first" src="https://www.thedrive.com/content/2018/12/DB2018AL02326_large.jpg?quality=85&width=1920&quality=70" alt=""> -->
    </main>
    <div class="page-2">
      <div class="content">
        <h1>OUR FEATURES</h1>
        <h3>
          Discover the key features that make our platform user-friendly and
          efficient
        </h3>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <i class="fa-solid fa-charging-station"></i>
          <div>
            <a href="/finder">
              <h3><b>Find Nearby Charging Stations</b></h3>
              <p>
                Easily locate charging stations near you using Google Maps
                integration
              </p>
            </a>
          </div>
        </div>
        <div class="grid-item">
          <i class="fa-solid fa-comment"></i>
          <div>
            <a href="/feedback">
              <h3><b>Feedback Portal </b></h3>
              <p>
                Provide feedback on your charging station experience to improve
                services
              </p>
            </a>
          </div>
        </div>
        <div class="grid-item">
          <i class="fa-solid fa-plug"></i>
          <div>
            <h3><b>Check occupancy & book slot</b></h3>
            <p>
              View real time occupancy status,book slot online, and know the
              pricing details
            </p>
          </div>
        </div>
        <div class="grid-item">
          <i class="fa-solid fa-plug-circle-exclamation"></i>
          <div>
            <a href="/emergency">
              <h3>
                <b>Emergency services</b>
              </h3>
              <p>
                Access Emergency services connecting users and charging station
                for assistance
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-3">
      <div class="cards">
        <div class="g card1">
          <div class="overlay">
            <h2>Cars</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
              quam molestias magni cupiditate architecto et enim quas facere
              ipsum tempora?
            </p>
          </div>
        </div>
        <div class="g card2">
          <div class="overlay">
            <h2>Rickshaws</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
              quam molestias magni cupiditate architecto et enim quas facere
              ipsum tempora?
            </p>
          </div>
        </div>
        <div class="g card3">
          <div class="overlay">
            <h2>Bikes</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
              quam molestias magni cupiditate architecto et enim quas facere
              ipsum tempora?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-4">
      <h1>Welcome to Our Electric Vehicle Charging Network</h1>
      <p>
        Our website connects electric vehicle users with charging stations,
        providing real-time information on availability, pricing, and booking
        options.
      </p>
      <p>
        With our interactive map feature powered by Google Maps, you can easily
        locate the nearest charging stations wherever you are.
      </p>
      <p>
        Take advantage of our feedback portal to share your experience and help
        us improve our services.
      </p>
      <p>Stay connected, stay charged!</p>
      <a href="https://en.wikipedia.org/wiki/Charging_station">Learn More</a>
    </div>
    <div class="page-5">
      <div class="part-1">
        <h4>FAQs</h4>
        <h1>Common questions</h1>
        <p>Here are some of the most common questions that we get</p>
      </div>
      <div class="part-2">
        <div class="qna">
          <p><b>How can I find nearby charging stations on the website?</b></p>
          <p>
            You can use the integrated Google Maps feature on our website to
            locate nearby charging stations.
          </p>
        </div>
        <div class="qna">
          <p>
            <b
              >Can I check the occupancy of a charging station before
              visiting?</b
            >
          </p>
          <p>
            Yes, you can check the occupancy status of a charging station on our
            website before heading there.
          </p>
        </div>
        <div class="qna">
          <p><b>Is it possible to book a charging slot online?</b></p>
          <p>
            Yes, you can conveniently book a charging slot online through our
            website.
          </p>
        </div>
        <div class="qna">
          <p>
            <b
              >How can I provide feedback about my experience at a charging
              station?</b
            >
          </p>
          <p>
            You can use the feedbacT. portal on our website to share your
            experience and suggestions.
          </p>
        </div>
        <div class="qna">
          <p>
            <b
              >Do you offer emergency services for users and charging
              stations?</b
            >
          </p>
          <p>
            Yes, we provide emergency services by connecting users with charging
            stations in case of any issues
          </p>
        </div>
      </div>
    </div>
    <footer>
      <h2>© 2024 CHARGEUP,All Rights Reserved</h2>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </footer>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
